<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>久瑞餐饮菜品集中采购系统</title>
    <meta name="description" content="久瑞餐饮菜品集中采购系统">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="purchaseManageFrontendApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header" ng-show="authorization.isLogined()">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/"></a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分店录入<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/purchase/quantity">采购需求录入</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">集中采购<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/purchase/stat">采购需求汇总</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统管理<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/classify">菜品维护</a></li>
                  <li><a href="#/user/list">用户管理</a></li>
                </ul>
              </li>
            </ul>
            <p class="navbar-text navbar-right">
              <a href="">{{authorization.getAuthorization().username}}</a>, 欢迎您, <a href="javascript:void(0);" ng-click="authorization.logout()">退出</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div ng-repeat="alert in alertService.alerts">
        <alert type="{{alert.type}}" close="alert.close($index)" dismiss-on-timeout="{{alert.dismissOnTimeout}}" ng-if="alert.dismissOnTimeout">{{alert.msg}}</alert>
        <alert type="{{alert.type}}" close="alert.close($index)" ng-if="!alert.dismissOnTimeout">{{alert.msg}}</alert>
      </div>
      <div ui-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <h5>© 2015 杭州久瑞餐饮有限公司</h5>
        <p>Authored by @JulienBrks @Mark Lee</p>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-inflector/dist/angular-inflector.min.js"></script>
    <script src="bower_components/angular-restmod/dist/angular-restmod-bundle.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/async/lib/async.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="bower_components/angular-validation/dist/angular-validation.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/login.js"></script>
    <script src="scripts/services/alert.js"></script>
    <script src="scripts/controllers/user/create.js"></script>
    <script src="scripts/services/config.js"></script>
    <script src="scripts/controllers/user/list.js"></script>
    <script src="scripts/controllers/user/modify.js"></script>
    <script src="scripts/services/handlecommonresponsestatus.js"></script>
    <script src="scripts/controllers/product-classify.js"></script>
    <script src="scripts/services/authorization.js"></script>
    <script src="scripts/services/route.js"></script>
    <script src="scripts/services/classify.js"></script>
    <script src="scripts/controllers/product.js"></script>
    <script src="scripts/controllers/product-quantity.js"></script>
    <script src="scripts/controllers/product-stat.js"></script>
    <script src="scripts/controllers/product-actually-buy.js"></script>
    <script src="scripts/controllers/confirm-modal.js"></script>
    <script src="scripts/controllers/purchase/index.js"></script>
    <script src="scripts/services/purchase/statFactory.js"></script>
    <script src="scripts/services/purchase/statService.js"></script>
    <script src="scripts/services/common/timeservice.js"></script>
    <!-- endbuild -->
</body>
</html>
