<div class="">
  <form class="form-signin">
    <h2 class="form-signin-heading">创建用户</h2>
    <label for="inputEmail" class="sr-only">帐号</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="请输入你的用户名" required="" autofocus="" ng-model="userCreate.username">
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="请输入密码" required="" ng-model="userCreate.password">
    <label for="inputPassword" class="sr-only">重复密码</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="请输入密码" required="" ng-model="userCreate.repeatPassword">
    <div ng-messages="userCreate.messages">
      <span style="color:maroon" ng-message="empty">不能为空</span>
      <span style="color:maroon" ng-message="notEqual">密码不相等</span>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="userCreate.create()">创建</button>
    <button class="btn btn-lg btn-primary btn-block" ng-click="userCreate.cancel()">放弃</button>
  </form>
</div>
