<div id="user-create">
  <table class="table table-bordered table-striped">
    <thead>
      <th>用户名</th>
      <th class="text-right">操作</th>
    </thead>
    <tbody>
      <tr ng-repeat="user in userList.userList">
        <td>{{user.username}}</td>
        <td class="text-right">
          <a href="javascript:void(0);" ng-click="userList.modifyPassword(user)">修改密码</a>
          <a href="javascript:void(0);" ng-click="userList.delete(user)" ng-hide="userBaseService.isAdmin(user)">删除</a>
        </td>
      </tr> 
      <tr>
        <td colspan="2" class="text-right">
          <a href="javascript:void(0);" ng-click="userList.create()">新建用户</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
