<table class="table">
  <thead>
    <th>类别</th>
    <th>操作</th>
  </thead>
  <tbody>
    <tr ng-repeat="classify in productClassify.list">
      <td width="30%">
        <input type="text" class="" focus-me="{{productClassify.showRenameInput($index)}}" ng-show="productClassify.showRenameInput($index)" ng-model="classify.name" ng-keypress="productClassify.confirmRename($event)" />
        <span ng-show="!productClassify.showRenameInput($index)">{{classify.name}}</span>
      </td>
      <td>
        <a href="javascript:void(0);" ng-click="productClassify.rename($index)" ng-show="!productClassify.showRenameInput($index)">改名</a>
        <a href="javascript:void(0);" ng-show="productClassify.showRenameInput($index)" ng-click="productClassify.cancelRename($index)">取消改名</a>
        <a href="javascript:void(0);" ng-click="productClassify.delete($index)">删除</a>
        <a ng-href="#/classify/{{classify.id}}/product?classifyName={{classify.name}}" ng-show="classify.id != null">下属菜品维护</a>
      </td>
    </tr> 
    <tr>
      <td colspan="2">
        <a href="javascript:void(0);" ng-click="productClassify.create()">新建新类别</a>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary" ng-click="productClassify.commitEdit()" ng-class="{disabled: !productClassify.modified}">提交修改</button>
<button type="button" class="btn btn-default" ng-click="productClassify.reset()">复原</button>
