<table class="table table-bordered">
  <thead>
    <th>分类</th>
    <th>菜品</th>
    <th>单位</th>
    <th>需求数量</th>
    <th>实际采购量</th>
    <th>采购总价</th>
  </thead>
  <tbody ng-repeat="classify in productActuallyBuy.instance.chargeList">
    <tr ng-repeat="item in classify.finances">
      <td rowspan="{{classify.finances.length}}" ng-if="$index === 0">{{classify.categoryName}}</td>
      <td>{{item.name}}</td>
      <td>{{item.unit}}</td>
      <td>{{item.needBuy}}</td>
      <td><input type="number" ng-model="item.actualBuy" validator="quantity"/></td>
      <td><input type="number" ng-model="item.totalCharge" validator="money" /></td>
    </tr> 
  </tbody>
</table>
<button type="button" class="btn btn-primary" ng-click="productActuallyBuy.commitEdit()" ng-class="{disabled: !productActuallyBuy.readyForCommit}">提交</button>
<button type="button" class="btn btn-default" ng-click="productActuallyBuy.export()">导出CSV</button>
